.vscode/**
.vscode-test/**
.github/**
out/**
src/**
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**

.editorconfig
.gitignore
.eslintrc.js
.eslintignore
rollup.config.js
tsconfig*.json
yarn.lock
.prettierrc.js
.versionrc.js
.cz-config.js
